$background: #212529;
$background2: #2b3035;
$text: #adb5bd;
$accent: #cb95f8;

html {
  body {
    height: 100vh;
    background-color: $background;
    color: $text;
    header {
      background-color: $accent;
      nav {
        div {
          div{
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    main {
      #welcome {
        background-color: $background2;
        color: $text;
        border-radius: 5px;
        a {
          text-decoration: none;
          background-color: $accent;
          border-radius: 5px;
        }
        a:visited {
          color: white;
        }
      }
      div {
        background-color: $background2;
        border-radius: 5px;
        h2 {
          border-bottom-style: solid;
          border-bottom-width: 2px;
        }
        h4 {
          color: $accent;
        }
        a {
          text-decoration: none;
          background-color: $accent;
          border-radius: 5px;
        }
      }
    }
    footer {
      bottom: 0;
      right: 0;
      color: $text;
      a:visited {
        text-decoration: none;
        color: $text;
      }
    }
  }
}